<!--The content below is only a placeholder and can be replaced.-->

<!-- ng generate component <COMP_NAME> -->

<div class="container">
  <!-- <app-observable-demo></app-observable-demo> -->
</div>


<div>
  <h1>
    Welcome to {{ title }}!
    <br>
    Value from Child : {{ data }}
    <br>
    Counter Value in AppComp : {{ dataService.counter }}
    <button (click)="increment()" class="btn btn-default"> Increment</button>
  </h1>

  <div class="container">
    <app-signin></app-signin>
  </div>

  <div class="container">
    <app-pipe-demo></app-pipe-demo>
  </div>

  <hr>
  <br>
  <!-- <user-comp [xyz]="users" (childEvent)="onChildEvent($event)">
    <header #headers>Some Header Info header</header>
    <main class="section">Property in parent : {{ title }}</main>
    <footer>Some Footer Info</footer>
  </user-comp> -->

  
  </div>


